body{
    background-color: black;
}
p{
   font-size: 52px; 
    color: red;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.style{
    width: 100%;
 color: red;
 background-color: black 
}
.style{
    width: 100%;
 color: red;
 background-color: black 
}